.header-container {
    /* border:solid 4px #30a70c; */
    display: flex;
    font: normal bold 22px/25px Montserrat;
    align-items: center;
    margin-left: 85px;
    padding: 10px;
    gap: 5px;
}

.tblebody{
    display: flex;
    flex-direction: row;
    background-color: white; 
}

header {
    background-color: #ffffff;
}

.logo{
    width: 45px;
    height: 45px;
    padding-left: 5px;
}

.text {
    display: flex;
    flex-direction: column;
    color: #42515F;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 80%; 
    margin-left: 26px;
    margin-right: 29px;
    border: transparent ;
    background-color: rgba(130,167,12,255); 
    border-radius: 5px; 
    /* //border: solid 2px red; */
}

.emp {
    color: #82A70C;
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 30px 0 10px;
    box-sizing: border-box;
    height: 800px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub-main-content {
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.emp-details-text {
    font-family: Roboto;
    font: normal normal bold 28px/25px Roboto;
    color: #42515f;
    opacity: 1;
    margin-right: 55px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.addbtn{
    height: 40px;
    width: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    outline: none;
    border: none;
    background-color: #82A70C;
    color: #ffffff;
    font: 15px Roboto;
}

img{
    width: 30px;
}
/* Table Part */
.table-main {
    width: 85%;
    
    margin: 0 auto;
    overflow: auto;
}

.table {
    /* border: solid 2px red; */
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 3px;
    min-width: 800px;
    /* background: #42515F 0% 0% no-repeat padding-box; */
    
}   

th{
    border: solid px rgb(51, 255, 0);
    padding: 5px 8px;
    background: #42515F 0% 0% no-repeat padding-box;
    height: 40px;
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    color: #ffffff;
    opacity: 1;
}
td{
    padding: 1px 10px;
    font: normal normal normal 16px/21px Roboto;
    height: px;
    background-color: #ffffff;
}
.profileimgcol{
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.namecol{
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.gendercol{
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.deptcol{
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.salarycol{
    text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
}

.datecol{
    text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
}

.actionscol{
    text-align: left;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;

}
.tblebody{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.tbd{
    width: 1549px;
  height: 120px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #906464;
  opacity: 1;
  margin-top: 5px;
  }